/* ZÁKLADNÍ STYL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TĚLO STRÁNKY */
body {
    font-family: Arial, sans-serif;
    background: #0a0909;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* HLAVIČKA STRÁNKY */
header {
    background-color: #0c0d12;
    color: #2c5adb;
    padding: 16px;
    width: 100%;
    text-align: center;
}

/* Hlavní obsah */
main {
    background: #0c0d12;
    padding: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* Skóre */
.scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#player-score-container, #computer-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-score, #computer-score {
    font-size: 32px;
    font-weight: bold;
    background: #2c5adb;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}

/* Výsledek hry */
#result {
    margin-top: 16px;
}

/* Výběr tlačítek */
.choices {
    display: flex;
    justify-content: center;
    gap: 16px;
}

button {
    background: #2c5adb;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

button img {
    width: 50px;
    height: 50px;
}

button:hover {
    background: #1448d8;
}

/* Pata stránky */
footer {
    margin-top: auto;
    background-color: #0c0d12;
    color: #2c5adb;
    padding: 16px;
    width: 100%;
    text-align: center;
}
